.Modal {
    position: fixed;
    z-index: 500;
    background-color: #f0f0f0;
    width: 60%;
    border-radius: 5px;  
    border: .2rem solid #000000ee;
    box-shadow: .1rem .1rem 2rem .4rem #eb1d2767;
    padding: 1rem;
    left: 20%;
    top: 2.5%;
    box-sizing: border-box;
    transition: all .4s ease-out;
}