.Layout {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12rem auto;
    grid-template-areas: "toolbar" "context";

    header {
        grid-area: toolbar;
    }

    main {
        grid-area: context;
    }
}