* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
    background-color: #272727;
    padding: 1rem;
}

@media screen and (min-width: 2559px) {
    body,
    html {
        font-size: 100%;
    }
}

@media screen and (max-width: 1420px) {
    body,
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 1024px) {
    body,
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 724px) {
    body,
    html {
        font-size: 45%;
    }
}

@media screen and (max-width: 624px) {
    body,
    html {
        font-size: 40%;
    }
}

@media screen and (max-width: 524px) {
    body,
    html {
        font-size: 35%;
    }
}

@media screen and (max-width: 450px) {
    body,
    html {
        font-size: 30%;
    }
}

@media screen and (max-width: 400px) {
    body,
    html {
        font-size: 25%;
    }
}

